{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Title</title>
</head>
<body>
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#            {{ form }}#}
{#        <button>Submit</button>#}
{#    </form>#}
{#    <br/>#}
{#    <br/>#}
{#    <br/>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <lable>My text:</lable>#}
{#        <input name="my_text" type="text"/>#}
{#        <button>Submit</button>#}
{#    </form>#}

</body>
</html>